:host {
  background: #ccc;
}

.wrapper {
  max-width: 350px;
  position: absolute;
  bottom: 0;
  right: 8%;
  z-index: 10;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);
}

.input {
  width: 86%;
  margin: 8px 7%;
}

.empty {
  height: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.icon:hover {
  color: #ccc;
  cursor: pointer;
}
