<ng-container *ngIf="records.length">
  <mat-accordion>

    <mat-expansion-panel *ngFor="let record of records" class="panel">
      <mat-expansion-panel-header>
        {{record.name}}
      </mat-expansion-panel-header>

      <div class="content">
        <video #recording
               width="400px"
               [src]="record.link"
               controls>
        </video>

        <div class="description">
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Детальное описание</span>
              <span class="spacer"></span>

              <mat-icon
                class="icon"
                (click)="edit(record.id)">edit
              </mat-icon>

              <mat-icon
                class="icon"
                (click)="delete(record)">delete
              </mat-icon>
            </mat-toolbar-row>
          </mat-toolbar>
          <div class="description-text">
            {{record.description}}
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</ng-container>

<ng-container *ngIf="!records.length">
  <h1 class="empty-text">Список пуст</h1>
</ng-container>

<app-recording></app-recording>

<router-outlet></router-outlet>
